   
   <h1>About Us</h1>
    <p>
      <a href="#">Real Comments application</a>
      is a project to make a weblog for posting comments and feedbacks while
      developing and writing software code.
    </p>
