
    <h1>Contact US
    </h1>
    <p title="If you have any questions, inquiries, or concerns, please contact the appropriate realcomment site department using the contact form or email address provided.">If you have any questions. inquiries, or concerns, please contact the appropriate <strong>RealComment</strong> site department using the contact form or email address provided. 
    </p>
    <p>For general feedback, please email us at feedback@realcomment.com for more details. This is not a technical support contact.</p>
    <p>RealComment blog invites all visitors and bloggers of <em>RealComment </em>to review our RealComment web application and test for bugs. Please send test result to the appropriate channel at press@siteblog.com. Note: This is not a technical support contact. For support contact refer to the proper channel.</p>
    <p>
    We will respond to your inquiries as quickly as possible.
   </p>
   <hr>

  <a href="http://twitter.com/share" class="twitter-share-button" data-count="horizontal">Tweet</a><script type="text/javascript" src="http://platform.twitter.com/widgets.js"></script>