<h1>Help</h1>
<p>
  Get help on Real Comment blog at the
  <a href="">Real Comment application help page</a>.
  Unfortunately this application still in development.
  Please come back soon to see updates on this page.
  <a href="">The page is currently in  development</a>.
</p>
