
    <h1>RealComments App Home</h1>
    <p>
      This is the home page for the
      <a href="">Real Comments and Posting Feedbacks!</a>
      application.
    </p>
    
    <%= link_to "Sign up now!", '#', :class => "signup_button round" %>

