<% if signed_in? %>
  <table class="front">
    <tr>
      <td class="main">
        <h2 class="micropost">What's up?</h2>
        <%= render 'pages/micropost_form' %>
        <%= render 'pages/feed' %>
      </td>
      <td class="sidebar round">
        <%= render 'pages/user_info' %>
      </td>
    </tr>
  </table>
<% else %>
    <h1>RealComments App Home</h1>
    <p>
      This is the home page for the
      <a href="http://localhost:3000/pages/home">Real Comments and Posting Feedbacks!</a>
      application.
    </p>
    
    <%= link_to "Sign up now!", signup_path, :class => "signup_button round" %>

<% end %>